.Following {
  height: auto;
}

.FollowingData {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.FollowingCard {
  display: flex;
  padding: 10px;
  height: auto;
}

.followButton1 {
  background-color: var(--color-background) !important;
  border: none !important;
  color: var(--color-mode) !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 30px !important;
  width: auto !important;
  position: absolute !important;
  margin-top: 10px !important;
  right: 20px !important;
}

.followButton2{
  background-color: var(--color-mode) !important;
  border: none !important;
  color: var(--color-background) !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 30px !important;
  width: auto !important;
  position: absolute !important;
  margin-top: 10px !important;
  right: 20px !important;
}

.FollowingData a {
  text-decoration: none;
}