.sidebar {
  border-right: 2px solid var(--color-border);
  flex: 0.18;
  margin-left: 4%;
}

.sidebar a 
{ text-decoration: none; }

.sideBarLarryIcon {
  height: 55px;
  margin-top: 11px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideBarTweet {
  background-color: var(--larry-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 800 !important;
  font-size: 17px !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 7.5% !important;
  margin-top: 20px !important;
  width: 85% !important;
  margin-bottom:40% !important;
  
}


.sideBarTweet:hover {
  background-color: var(--color-hover) !important;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    min-width: 120px;
    margin-left: 2%;

  }

  .sideBarLarryIcon {
    margin-left: -4%;
  }
  li {
    margin-left: 35%;
  }
  .logoutIcon {
    margin-left: 35%;
  }
}

@media screen and (max-width: 703px) {
  .sidebar {
    margin-right: 0;
  }
}