* {
  margin: 0;
}
.App {
  font-family: "Montserrat", "Verdana", "Times New Roman";
  --twitter-color: #2b3dbc;
  --twitter-color-background: #ffffff;
  --twitter-color-hover: #6d71ff;

  background-color: var(--twitter-color-background);
  display: flex;
  height: 100vh;
}
