* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: "Montserrat", "Verdana", "Times New Roman";
  --larry-color: #2b3dbc;
  --color-border: #2b3cbc13;
  --color-background: #ffffff;
  --color-hover: #6d71ff;

  background-color: var(--color-background);
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .App {
    margin-left: 2%;
  }
}

@media screen and (max-width: 703px) {
  .App {
    margin-right: 0;
  }
}
