.sidebar {
  border-right: 2px solid var(--color-border);
  flex: 0.2;
}

.sideBarLarryIcon {
  height: 55px;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideBarTweet {
  background-color: var(--larry-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 800 !important;
  font-size: 17px !important;
  text-transform: inherit !important;
  border-radius: 40px !important;
  height: 7.5% !important;
  margin-top: 20px !important;
  width: 85% !important;
}

.sideBarTweet:hover {
  background-color: var(--color-hover) !important;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    min-width: 120px;
  }

  .sideBarLarryIcon {
    margin-left: auto;
  }
  li {
    margin-left: 35%;
  }
}
