.sideBarIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sideBarIcon > .MuiSvgIcon-root {
  height: 30px !important;
  width: 30px !important;
}
.sideBarIcon:hover {
  background-color: var(--color-hover);
  border-radius: 40px;
  color: white;
  transition: color 100ms ease-out;
  max-width: 90%;
  padding-left: 5px;
}

.sideBarIcon > h2 {
  font-weight: 550;
  font-size: 19px;
  margin: 15px;
}

.sideBarIcon--active {
  color: var(--larry-color);
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .sideBarIcon {
    margin-left: 2%;
  }
  .sideBarIcon > h2 {
    display: none;
  }
  .MuiSvgIcon-root {
    margin-bottom: 23px;
  }
  .sideBarIcon:hover {
    width: 38px;
    height: 38px;
    padding-left: 10px;
    padding-top: 15px;
    margin-left: -5px;
  }
}
