.TweetDiv{
    /* position:relative;
    top:27.27px;
 left: 0; */
    width: 100%;
    box-shadow: 1px 0px 0 0 rgba(0, 0, 0, 0.1);
    height: 200px;
    /* margin-bottom: 45px ; */
    
}

.form-control{
  resize: none;
  border: none;
  outline: none;
  outline:0px !important;
  box-shadow: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  padding-top: 2%;
  min-height: 40px;
  line-height: 20px;
  width: 95%;
  height: 100%;
  
}
/* @media (max-width:800px) {
    .TweetDiv {
      position:relative;
      top:27.27px;
      width: 50%;
      height: 350px;
     
    }
  }
  @media (min-width:1000px) {
    .TweetDiv {
      position:relative;
      top:27.27px;
      width: 50%;
      height: 200px;

    }
  
  }

 */
