.settingsMenu {
  border-right: 1px solid var(--color-border);
  width: max-content;
  height: 100vh;
  margin-top: 8px;
  position: relative;
}

.settingsMenu h2 {
  font-size: 17px;
}

.settingsSubMenu {
  width: fit-content;
  margin-top: 8px;
  height: 100vh;
  position: relative;
}

.settingsSubMenu h2 {
  font-size: 17px;
}

.settingsMenuHeaderLight {
  font-weight: 500;
  font-size: 22px;
  padding-left: 10px;
  margin-bottom: 7px;
}
.settingsMenuHeaderDark {
  font-weight: 500;
  font-size: 22px;
  padding-left: 10px;
  color: #ffffff;
  margin-bottom: 7px;
  margin-left: 14px;
}

.settingsMenuParagraphLight {
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.settingsMenuParagraphDark {
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

.karim{
  display: flex;
  margin-right: 4%;
  margin-left: 18.5%;
}

.App-link {
  text-decoration: underline;
  color: #61dafb;
}

.forceChangePasswordMUIDarkMode {
  color: #ffffff !important;
}

.SettingsPage{
  display:flex
}
