.search
{
  position: static;
  top: 15px;
  left :5%;
  width: 100%;
}
.Expsearch{
  display: inline-block;
  opacity: 0.8;
  height: 80px;
  width: 100%;
  top:0px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--color-mode);
  position: sticky;
border-bottom: 2px solid var(--color-border);

}
.suggestedAccBlock{
  position: relative;
  top: 15px;
  left :5%;
  width: 100%;
}
.suggestedAccRightbar{
  top:0;
  position:sticky;
  margin-right: 0%;
  height: 100vh;
  min-width: 200px;
  width:27%;
}