.Homepage
{
    display: flex;
    margin-left: 24%;
    
}
.postConatiner {
    width: 60%;
    min-width: 350px;
    border-right: 2px solid var(--color-border);
  }

@media screen and (max-width: 859px) {
    .searchbar
    {
      display: none;
      opacity: 0;
      pointer-events: none;
      visibility: none;
      z-index: -1;
    }
  }
.rightbar
  {
    top:0;
    position:sticky;
    margin-right: 0%;
    height: 100vh;
    min-width: 200px;
    width:32%;
  }
.searchbar
{
  position: relative;
  top: 15px;
  left :5%;
  width: 100%;
}
@media screen and (max-width: 1060px) {
    .Homepage {
      margin-left: 22%;
    }
}
@media screen and (max-width: 859px) {
    .Homepage {
      margin-right: 0;
      margin-left: 29%;
    }
    .rightbar
    {
      max-width: 0px;
      margin: 0px;
      display: none;
    }  
    
    .postConatiner
    {
      min-width: 338px;
      width: 100%;
    }
}