.SearchResults
{
    color: var(--color-mode);
    margin-right: 4%;
    display: flex;
    margin-left: 24% ;
    
}
.resultsPage
{
    width: 60%;
    min-width: 350px;
    border-right: 2px solid var(--color-border);
}

.filterContainer{
  margin-top: 4%;
  margin-left: 4%;
  border: 2px solid var(--color-border);
  padding-bottom: 4%
}

h5 {
    padding-top: 5px;
    padding-left: 5px;
}

h6 {
  padding-top: 5px;
  padding-left: 5px;
}

.titles {
    border-bottom: 2px solid var(--color-border);
}

.people {
    border-top: 2px solid var(--color-border);
}

.tweets {
border-top: 2px solid var(--color-border);
}

.SearchResults .rightbar {
    position: sticky;
    height: 100vh;
    width: 30%;
}
.rightbarSearch {
  position: sticky;
  width: 50%;
    height: 100vh;
}

.search
{
  position: static;
  top: 15px;
  left :5%;
  width: 100%;
}

.backAndSearchbar {
display: flex;
opacity: 0.8;
height: 80px;
top:0px;
color: var(--color-mode);
position: sticky;
border-bottom: 2px solid var(--color-border);
}

.arrowback {
    height: 21px !important;
    width: 21px !important;
    margin-right: 20px !important;
    margin-left: 15px !important;
    cursor: pointer !important;
    margin-top: 24px !important;
    margin-bottom: 0 !important;
    color: var(--color-mode) !important;
  }

  .arrowback:hover {
    background-color: var(--color-hover);
    border-radius: 40px;
    color: white;
    transition: color 100ms ease-out;
    padding: auto;
  }
.AndSearchbar{
  display: inline-block;
  opacity: 0.8;
  height: 80px;
  width: 93%;
  top:0px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--color-mode);
  position: sticky;
border-bottom: 2px solid var(--color-border);
}

.searchFilter {
  display:flex;
  flex:0.97;
  flex-direction: column;
  position: relative;
  
}

.searchFilter:hover {
  background-color: var(--color-hover);
  opacity: 0.5;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  transition: color 100ms ease-out;
  padding: auto;
}

.filterOptionsDisplay {
  font-weight: 400 ;
  font-size: 10px;
  font-stretch: normal;
  display:flex;
  flex:0.97;
  cursor: pointer;
  padding-left: 1.5em;
  color:  var(--color-mode);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radiobuttonStyling {
  float: right;
  flex:0.03;
  text-align:right !important;
  color: var(--color-mode);
}

@media screen and (max-width: 859px) {
    .SearchResults {
      margin-right: 0;
      margin-left: 29%;
    }
    .rightbar
    {
      max-width: 0px;
      margin: 0px;
      display: none;
    }  
    
    .resultsPage
    {
      min-width: 338px;
      width: 100%;
    }

}