.btn-group{
    height: 50px;
    margin-top: 10px;
    outline: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
    width:100% ;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center !important;
}
.sidexarTweet {
background-color: var(--larry-color) !important;
height: 20px !important;
border-radius: 10px !important;
margin: 5px;
padding-top: 12px !important;
padding-bottom: 12px !important;

} 
@media screen and (max-width: 1000px) {
.Icon-control {
display: none;
}
.btn-group{
    height: 40px;
    margin-top: 30px;
    outline: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
    width:100% ;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center !important;
    padding-top: 40px;
}
.sidexarTweet {
    margin-bottom: 33px!important;
    
}
}
  