/*.comment 
{
    position: relative;
    background: lightgrey;
    border-radius: 1000em;
    padding: 1px;
}*/
.textbox
{
    position: relative;
    display: inherit;
    border-radius: inherit;
    background-color: white;
    padding: 0 1.5em;
    width: inherit;
}
/*.comment:hover
{
    background: linear-gradient(21deg, #6D71FF,rgba(43, 61, 188, 1));
}*/
.emoji
{
    color: lightgrey;
}
.emoji:hover
{
    color: #6D71FF;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .emoji
    {
        margin-top: 80%;
    }
}